.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  &__triangle {
    position: absolute;
    z-index: 3;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 62%;
    width: auto;
    transition: 0.5s;
  }
  &__triangle-glow {
    position: absolute;
    z-index: 2;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75%;
    width: auto;
    transition: 0.5s;
    filter: blur(8px);
  }
  &__shadow {
    position: absolute;
    z-index: 1;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 62%;
    width: auto;
    transition: 0.5s;
  }
  &__model {
    position: absolute;
    z-index: 4;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 85%;
    width: auto;
    transition: 0.5s;
  }
  &__title-wrap {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 210px;
    text-align: right;
    transition: 0.5s;
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 90px;
    color: rgba(217, 35, 203, 1);
    text-shadow: 0px 0px 18px rgba(255, 0, 235, 0.79);
    line-height: 90px;
  }
  &__uptitle {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    opacity: 0.5;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 70px;
    font-style: italic;
    line-height: 70px;
    letter-spacing: 0px;
    color: rgba(69, 231, 244, 1);
    text-shadow: 0px 0px 12px rgba(13, 171, 255, 0.8);
    margin-bottom: 20px;
  }
  &__description {
    font-size: 14px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    margin-bottom: 20px;
  }
  &__title-img {
    transition: 0.2s;
    text-align: left;
    &:hover {
      transform: scale(1.05);
      opacity: 0.8;
    }
    & a img {
      width: 130px;
    }
  }
}

@media (max-width: 768px) {
  .main {
    &__model {
      left: 65%;
      max-height: 60%;
      top: 50%;
    }
    &__triangle {
      max-height: 35%;
    }
    &__triangle-glow {
      max-height: 40%;
    }
    &__shadow {
      display: none;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
    }
    &__subtitle {
      font-size: 50px;
      line-height: 50px;
    }

    &__title-wrap {
      left: 25%;
      top: 45%;
      text-align: center;
    }
    &__title-img {
      text-align: center;
    }
  }
}

@media (max-width: 414px) {
  .main {
    &__model {
      max-height: 50%;
    }
    &__title-wrap {
      left: 28%;
    }
  }
}

@media (max-width: 320px) {
  .main {
    &__title {
      font-size: 50px;
      line-height: 50px;
    }
    &__subtitle {
      font-size: 35px;
      line-height: 35px;
    }
    &__description {
      font-size: 12px;
    }
  }
}
@media (max-width: 280px) {
  .main {
    &__model {
      left: 68%;
    }
    &__description {
      font-size: 10px;
    }
  }
}
